Repository theoludwig/markdownlint-rule-relative-links: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-checker, prettier --write --ignore-unknown, markdownlint-cli2 --fix --no-globs, eslint --fix --max-warnings 0 --report-unused-disable-directives

fix: update markdown-it to v14.1.1
  .oxlintrc.json
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write --ignore-unknown

Notes added by 'git notes add'
  f48932001afb08848e387f484b6d6b82d9024644
Due: editorconfig-checker, prettier --write --ignore-unknown

add new config options
  README.md
  src/index.js
  src/utils.js
Due: editorconfig-checker, prettier --write --ignore-unknown, markdownlint-cli2 --fix --no-globs, eslint --fix --max-warnings 0 --report-unused-disable-directives

remove replacement map
  README.md
  src/index.js
  src/utils.js
Due: editorconfig-checker, prettier --write --ignore-unknown, markdownlint-cli2 --fix --no-globs, eslint --fix --max-warnings 0 --report-unused-disable-directives

rename config option
  src/index.js
Due: editorconfig-checker, prettier --write --ignore-unknown, eslint --fix --max-warnings 0 --report-unused-disable-directives

add additional documentation for new config option
  README.md
Due: editorconfig-checker, prettier --write --ignore-unknown, markdownlint-cli2 --fix --no-globs

fix naming of new config
  src/index.js
Due: editorconfig-checker, prettier --write --ignore-unknown, eslint --fix --max-warnings 0 --report-unused-disable-directives

add automated test for new config
  test/fixtures/valid/existing-heading-fragment-divider/awesome.md
  test/fixtures/valid/existing-heading-fragment-divider/existing-heading-fragment.md
  test/index.test.js
Due: editorconfig-checker, prettier --write --ignore-unknown, markdownlint-cli2 --fix --no-globs, eslint --fix --max-warnings 0 --report-unused-disable-directives

feat: add config-option for fragment-index-divider (#20)
  README.md
  src/index.js
  test/fixtures/valid/existing-heading-fragment-divider/awesome.md
  test/fixtures/valid/existing-heading-fragment-divider/existing-heading-fragment.md
  test/index.test.js
Due: editorconfig-checker, prettier --write --ignore-unknown, markdownlint-cli2 --fix --no-globs, eslint --fix --max-warnings 0 --report-unused-disable-directives

Notes added by 'git notes add'
  36ed1ee7885abc0012914f00ba4c0e7ab65ce50a
Due: editorconfig-checker, prettier --write --ignore-unknown

docs: fix typo divider
  README.md
Due: editorconfig-checker, prettier --write --ignore-unknown, markdownlint-cli2 --fix --no-globs

fix: update markdown-it to v14.2.0
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
  src/utils.js
  tsconfig.json
Due: editorconfig-checker, prettier --write --ignore-unknown, eslint --fix --max-warnings 0 --report-unused-disable-directives

build(deps): update latest
  .oxlintrc.json
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write --ignore-unknown

chore: lint:typescript
  src/index.js
Due: editorconfig-checker, prettier --write --ignore-unknown, eslint --fix --max-warnings 0 --report-unused-disable-directives

Notes added by 'git notes add'
  be2c1746c29b82d59ad778115098224e5c138df1
Due: editorconfig-checker, prettier --write --ignore-unknown

fix: update markdown-it to v14.3.0
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write --ignore-unknown

Notes added by 'git notes add'
  86308ce34c56a27d32a0d8797ae04aad9b6a814c
Due: editorconfig-checker, prettier --write --ignore-unknown

fix: update markdown-it to v15.0.1
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write --ignore-unknown

Notes added by 'git notes add'
  193e66bc14fa1ca54af00c3bd7eced675e9ba38a
Due: editorconfig-checker, prettier --write --ignore-unknown

Path conditions:
  editorconfig-checker: any of: **/*
  prettier --write --ignore-unknown: any of: **/*
  markdownlint-cli2 --fix --no-globs: any of: **/*.md
  eslint --fix --max-warnings 0 --report-unused-disable-directives: any of: **/*.{js,jsx,ts,tsx}
