Repository theoludwig/markdownlint-rule-relative-links: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-checker, prettier --write --ignore-unknown, markdownlint-cli2 --fix --no-globs, eslint --fix --max-warnings 0 --report-unused-disable-directives

refactor: simplify logic understanding
  README.md
  src/index.js
  src/utils.js
Due: editorconfig-checker, prettier --write --ignore-unknown, markdownlint-cli2 --fix --no-globs, eslint --fix --max-warnings 0 --report-unused-disable-directives

fix: should only check valid fragments in markdown (.md) files
  src/index.js
  test/fixtures/valid/only-parse-markdown-files-for-fragments/abc.txt
  test/fixtures/valid/only-parse-markdown-files-for-fragments/awesome.html
  test/fixtures/valid/only-parse-markdown-files-for-fragments/only-parse-markdown-files-for-fragments.md
  test/index.test.js
Due: editorconfig-checker, prettier --write --ignore-unknown, markdownlint-cli2 --fix --no-globs, eslint --fix --max-warnings 0 --report-unused-disable-directives

feat: support line number checking in link fragment (e.g: '#L50')
  src/index.js
  src/utils.js
  test/fixtures/invalid/invalid-heading-with-L-fragment/awesome.md
  test/fixtures/invalid/invalid-heading-with-L-fragment/invalid-heading-with-L-fragment.md
  test/fixtures/invalid/invalid-line-number-fragment/awesome.md
  test/fixtures/invalid/invalid-line-number-fragment/invalid-line-number-fragment.md
  test/fixtures/valid/existing-heading-case-insensitive/awesome.md
  test/fixtures/valid/existing-heading-case-insensitive/existing-heading-case-insensitive.md
  test/fixtures/valid/existing-heading-fragment/awesome.md
  test/fixtures/valid/valid-heading-like-number-fragment/awesome.md
  test/fixtures/valid/valid-heading-like-number-fragment/valid-heading-like-number-fragment.md
  test/fixtures/valid/valid-line-number-fragment/awesome.md
  test/fixtures/valid/valid-line-number-fragment/valid-line-number-fragment.md
  test/index.test.js
  test/utils.test.js
Due: editorconfig-checker, prettier --write --ignore-unknown, markdownlint-cli2 --fix --no-globs, eslint --fix --max-warnings 0 --report-unused-disable-directives

Notes added by 'git notes add'
  f332c833ca6eb368a57bef3b6f0fa6542f2c1acb
Due: editorconfig-checker, prettier --write --ignore-unknown

fix: link fragment with accents should be valid if the heading exists
  src/utils.js
  test/fixtures/valid/existing-heading-with-accents/awesome.md
  test/fixtures/valid/existing-heading-with-accents/existing-heading-with-accents.md
  test/index.test.js
Due: editorconfig-checker, prettier --write --ignore-unknown, markdownlint-cli2 --fix --no-globs, eslint --fix --max-warnings 0 --report-unused-disable-directives

Notes added by 'git notes add'
  5af131b840bf5c6f475590e60fab68bb5b01bd4b
Due: editorconfig-checker, prettier --write --ignore-unknown

fix: update markdown-it to v14.1.0
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
  src/index.js
  src/markdownlint-rule-helpers/helpers.js
Due: editorconfig-checker, prettier --write --ignore-unknown, eslint --fix --max-warnings 0 --report-unused-disable-directives

style: fix prettier
  jsconfig.json
Due: editorconfig-checker, prettier --write --ignore-unknown

Notes added by 'git notes add'
  bf9403ad8452e661d969ccbd80ba6de541dad55a
Due: editorconfig-checker, prettier --write --ignore-unknown

build(deps): update latest
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write --ignore-unknown

feat: support columns numbers (and line range) in links fragments
  src/index.js
  src/utils.js
  test/fixtures/invalid/invalid-line-column-range-number-fragment/awesome.md
  test/fixtures/invalid/invalid-line-column-range-number-fragment/invalid-line-column-range-number-fragment.md
  test/fixtures/valid/valid-line-column-range-number-fragment/awesome.md
  test/fixtures/valid/valid-line-column-range-number-fragment/valid-line-column-range-number-fragment.md
  test/index.test.js
Due: editorconfig-checker, prettier --write --ignore-unknown, markdownlint-cli2 --fix --no-globs, eslint --fix --max-warnings 0 --report-unused-disable-directives

feat: stricter validation of heading fragments by being Case sensitive
  src/index.js
  src/utils.js
  test/fixtures/invalid/invalid-heading-case-sensitive/awesome.md
  test/fixtures/invalid/invalid-heading-case-sensitive/invalid-heading-case-sensitive.md
  test/fixtures/valid/valid-heading-like-number-fragment/valid-heading-like-number-fragment.md
  test/index.test.js
Due: editorconfig-checker, prettier --write --ignore-unknown, markdownlint-cli2 --fix --no-globs, eslint --fix --max-warnings 0 --report-unused-disable-directives

Notes added by 'git notes add'
  85f465306f780a76d8ffdc610c8c95f4aa84fe6b
Due: editorconfig-checker, prettier --write --ignore-unknown

chore: remove usage of git hooks (husky, lint-staged, commitlint) + usage of node --run
  .commitlintrc.json
  .eslintrc.json
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .npmrc
  .releaserc.json
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write --ignore-unknown, markdownlint-cli2 --fix --no-globs

build(deps): update latest
  .eslintrc.json
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Due: editorconfig-checker, prettier --write --ignore-unknown

chore: remove not needed npm engine requirement
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write --ignore-unknown

feat: usage of ESM modules imports (instead of CommonJS)
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  README.md
  eslint.config.js
  package-lock.json
  package.json
  src/index.d.ts
  src/index.js
  src/markdownlint-rule-helpers/helpers.js
  src/utils.js
  test/index.test.js
  test/utils.test.js
Due: editorconfig-checker, prettier --write --ignore-unknown, markdownlint-cli2 --fix --no-globs, eslint --fix --max-warnings 0 --report-unused-disable-directives

Notes added by 'git notes add'
  aa24db4facfdc0a630f986156391bd751e9ae427
Due: editorconfig-checker, prettier --write --ignore-unknown

fix: use `.markdownlint-cli2.mjs` for the configuration file
  .markdownlint-cli2.jsonc
  .markdownlint-cli2.mjs
  README.md
Due: editorconfig-checker, prettier --write --ignore-unknown, markdownlint-cli2 --fix --no-globs

Notes added by 'git notes add'
  db57d67b0bbe7a031c14e96297270529dc791e84
Due: editorconfig-checker, prettier --write --ignore-unknown

style: fix prettier
  .markdownlint-cli2.mjs
Due: editorconfig-checker, prettier --write --ignore-unknown

feat: add support for markdownlint v0.38.0
  .markdownlint-cli2.mjs
  README.md
  package-lock.json
  package.json
  src/index.d.ts
  src/index.js
  src/utils.js
  test/index.test.js
Due: editorconfig-checker, prettier --write --ignore-unknown, markdownlint-cli2 --fix --no-globs, eslint --fix --max-warnings 0 --report-unused-disable-directives

Notes added by 'git notes add'
  876384344c969aeea4fe22383661d8e9b4392254
Due: editorconfig-checker, prettier --write --ignore-unknown

docs: markdownItFactory is not necessary
  .markdownlint-cli2.mjs
  README.md
Due: editorconfig-checker, prettier --write --ignore-unknown, markdownlint-cli2 --fix --no-globs

feat: add `root_path` config option
  .markdownlint-cli2.mjs
  CONTRIBUTING.md
  README.md
  src/index.js
  test/fixtures/config-dependent/absolute-paths.md
  test/index.test.js
Due: editorconfig-checker, prettier --write --ignore-unknown, markdownlint-cli2 --fix --no-globs, eslint --fix --max-warnings 0 --report-unused-disable-directives

docs: update README.md
  README.md
Due: editorconfig-checker, prettier --write --ignore-unknown, markdownlint-cli2 --fix --no-globs

feat: add `root_path` config option (#14)
  .markdownlint-cli2.mjs
  CONTRIBUTING.md
  README.md
  src/index.js
  test/fixtures/config-dependent/absolute-paths.md
  test/index.test.js
Due: editorconfig-checker, prettier --write --ignore-unknown, markdownlint-cli2 --fix --no-globs, eslint --fix --max-warnings 0 --report-unused-disable-directives

Notes added by 'git notes add'
  8a449ad181f98470d91353914da0c07d5202a91c
Due: editorconfig-checker, prettier --write --ignore-unknown

chore: run tests on Windows and macOS
  .github/workflows/test.yml
Due: editorconfig-checker, prettier --write --ignore-unknown

ci: run tests on Windows and macOS (#15)
  .github/workflows/test.yml
Due: editorconfig-checker, prettier --write --ignore-unknown

ci: pin GitHub Actions by commit-hash
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: editorconfig-checker, prettier --write --ignore-unknown

build(deps): update markdownlint to v0.39.0 and markdownlint-cli2 to …
  .github/ISSUE_TEMPLATE/QUESTION.md
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write --ignore-unknown, markdownlint-cli2 --fix --no-globs

ci: trusted npm package publishing (OIDC)
  .github/workflows/release.yml
Due: editorconfig-checker, prettier --write --ignore-unknown

build(deps): update latest
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write --ignore-unknown

chore: migrate from ESLint/Prettier to Oxc
  .github/workflows/lint.yml
  .oxfmtrc.json
  .oxlintrc.json
  .prettierrc.json
  CONTRIBUTING.md
  eslint.config.js
  package-lock.json
  package.json
  src/index.js
  src/utils.js
  test/index.test.js
  test/utils.test.js
  tsconfig.json
Due: editorconfig-checker, prettier --write --ignore-unknown, markdownlint-cli2 --fix --no-globs, eslint --fix --max-warnings 0 --report-unused-disable-directives

feat!: stricter validation of image links (check if the file is an image)
  package-lock.json
  package.json
  src/index.js
  test/fixtures/invalid/invalid-image.md
  test/fixtures/not-an-image.txt
  test/index.test.js
Due: editorconfig-checker, prettier --write --ignore-unknown, markdownlint-cli2 --fix --no-globs, eslint --fix --max-warnings 0 --report-unused-disable-directives

Notes added by 'git notes add'
  211c71d75b1426ae17cd7e44b9fd38d6ff6c5f42
Due: editorconfig-checker, prettier --write --ignore-unknown

fix: ignore external https image links
  src/index.js
  test/fixtures/valid/ignore-external-image.md
  test/index.test.js
Due: editorconfig-checker, prettier --write --ignore-unknown, markdownlint-cli2 --fix --no-globs, eslint --fix --max-warnings 0 --report-unused-disable-directives

Notes added by 'git notes add'
  c744c4872a28ad8cc2e9d50d832e5c95f878855a
Due: editorconfig-checker, prettier --write --ignore-unknown

Path conditions:
  editorconfig-checker: any of: **/*
  prettier --write --ignore-unknown: any of: **/*
  markdownlint-cli2 --fix --no-globs: any of: **/*.md
  eslint --fix --max-warnings 0 --report-unused-disable-directives: any of: **/*.{js,jsx,ts,tsx}
